body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: hsl(0, 100%, 74%);
    background-image: url("images/bg-intro-desktop.png");
    width: 1440px;
    margin: auto;

}

.container{
    /* width: 100vw; */
    height: 100vh;
    width: 100%;

    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;

    padding: 35px;

}

.slogan{
    display: flex;
    flex-direction: column;
    /* margin-left: 20px; */
    color: white;
    width: 100%;
    margin: 0 40px;
    padding: 0 30px;

}


.title-slogan{
    font-weight: 800;
    font-size: 1.6em;
}

.subtitle-slogan{
    text-align: left;
    /* font-weight: 400; */
    font-size: 1.1em;
}


.section-form{
    width: 100%;
    margin: 15px;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.section-plan{
    background-color: hsl(248, 32%, 49%);
    border-radius: 5px;
    color: white;
    padding: 10px 120px;
    margin: 25px;
    box-shadow: 3px;
    font-size: 0.8rem;
    box-shadow: 0px 7px 1px 0px rgba(138,138,138,0.43);
}


.section-plan a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.container-form{
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    border: 6px;
    border-color: white;
    padding: 20px 0;
    width: 78%;
    box-shadow: 0px 7px 1px 0px rgba(138,138,138,0.43)
}


form{
    display: flex;
    flex-wrap: wrap;

    flex-direction: column;
    align-items: center;

}


input {
    margin: 10px;
    padding: 10px;
    width: 375px;
    display: inline-block;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border-color: hsl(246, 25%, 77%);
    border-width: 1px;
}

/* input.invalid {
    border-color: red;
} */


span.error{
    display: flex;
    align-items: flex-end;
    justify-content: right;
}

.error.active{
    color: hsl(0, 100%, 74%);
    font-size: 0.6rem;
    margin-bottom: 15px;
    font-weight: 600;
    padding-top: 5px;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
} 



button{
    border: none;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    color: white;
    background-color: hsl(154, 59%, 51%);
    padding: 10px 130px;
    margin: 10px 0;
}



.terms-services{
    font-size: 0.6rem;
    /* padding: 15px; */
    text-decoration: none;
    color: hsl(246, 25%, 77%);
}

.terms-services a{
    text-decoration: none;
    color: hsl(0, 100%, 74%);
    font-weight: 700;
    text-shadow: 20px;
}